# Rust
/target/
Cargo.lock

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

local/

# LaTeX
*.aux
*.log
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.lof
*.lot

# Kiro
.kiro/

# Node
node_modules/
